@media screen and (max-width: 1400px) {
  .card-img-top,.wash,.kit{
    width: 80% ;
    height: auto;
  }

}

@media only screen and (max-width: 768px) {
  .Rounded-Rectangle-5 {
    margin-left: 0px;
  }
  .Warranty,
  .Blog,
  .Contact {
    margin-left: 10px;
  }
  .logo {
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .links ul {
    flex-direction: column;
    padding-left: 0px;
  }
  .links li {
    margin-top: 20px;
  }
  .icons {
    padding-bottom: 20px;
    text-align: center;
  }
  .Ellipse-649 {
    display: none;
  }
  .es{
    display: block !important;
  }
  .whyrow{
    display: block !important;
  }
  .Experienced-and-vetted-professionals,.dominate-the-industry-in-scale-and-scope-with-an-adaptable-ext,.Dedicated-customer-service,.to-our-customers-and-are-guided-in-all-we-do-by-their-needs-Th{
    text-align: left;
  }
  .Rectangle-20{
    width: 70%;
  }
}
@media screen and (max-width: 1300px) and (min-width: 761px) {
  .Rounded-Rectangle-5{
      margin-left: 0px;
  }
  .Contact{
      margin-right: 20px;
  }
  .Warranty,.Blog,.Contact{
      margin-left: 10px;
  }
  .Ellipse-649{
      display: none;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1220px) {
  .Rectangle-20{
    width: 60%;
  }
  .logo{
      text-align: center;
      width: 100%;
      padding: 0px;
      margin: 0px;
  }
  .links{
      display: flex !important;
      width:auto !important;
      justify-content: space-between;
      margin-top: 20px;      
  }
  .links a{
      margin-top: 10px;
      margin-left: 20px;
      justify-content: center;
  }
  .icons{
      padding-bottom: 20px;
      text-align: center;
      margin: 0px;
  }
  .Rectangle-12 .row{
      flex-direction: column;
  }
  .Rectangle-12-copy-2 {
      margin-left:0px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 904px) {
  .icons{
      width:auto !important;
  }
}
@media screen and (max-width: 1310px) and (min-width: 1200px){
  .links a{
      margin-left: 10px;
      margin-right: 10px;
      width: 100%;
      display: block;
  }
}
@media screen and (max-width: 576px) and (min-width: 498px){
  .mnomodal{
      width: 183px;
  }
  .pinmodal{
      width: 45px;
  }
}
@media screen and (max-width: 498px){
  .signupemailmodal{
      margin-right: 41%;
  }
  .mnomodal{
      width: 183px;
  }
  .pinmodal{
      width: 45px;
  }
}
@media screen and (min-width: 992px) {
  .sideham{
      display: none;
  }
  .sidenav{
      display: none;
  }
}