@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.bg-dark {
  background-color: #525252 !important;
  opacity: 0.8 !important;
}
.navbar {
  padding: 0px;
}
.csnav .nav-item {
  margin-top: 7px;
}
.navbar-toggler {
  display: flex;
}
.navbar-collapse {
  flex-grow: inherit;
}
.white_logo_transparent_background {
  width: 73px;
  height: 54px;
  margin: 0 0px 0 0;
}
.bookrect:hover {
  background-color: white;
  color: rgba(0, 95, 113);
  cursor: pointer;
}
.prices:hover,
.blog:hover,
.warranty:hover,
.contact:hover {
  cursor: pointer;
  width: auto;
  height: 40px;
  border-radius: 20px;
  border: solid 1px white;
  background-color: transparent;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.book,
.prices,
.blog,
.contact,
.warranty {
  color: white;
}
.prices,
.warranty,
.blog,
.contact {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}
.book {
  text-align: center;
}
.bookrect {
  width: 161px;
  height: 40px;
  border-radius: 20px;
  border: solid 1px white;
  background-color: transparent;
}
.ver-line {
  width: 1px;
  height: 48px;
  margin: 2px 16px 0px 10px;
  background-color: #e1e1e1;
  display: block;
  text-align: right;
}
.dropdown-menu a {
  color: #111 !important;
}
.navham {
  font-size: 30px;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 15px;
  right: 28px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 0px 20px;
  text-decoration: none;
  font-size: 17px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #1d7a8c;
  cursor: pointer;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.navbar-toggler {
  display: none;
}
.col-lg-2 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.all {
  justify-content: center;
}
.Rectangle-12 {
  width: auto;
  height: auto;
  margin: 20px 0 0;
  padding: 27px 0px 0px;
  background-color: #111;
}

.links ul {
  list-style: none;
}
.links a {
  color: #f1f1f1;
}
.links a:hover {
  color: #1d7a8c;
}
.logo {
  width: 106px;
  height: 78px;
  margin: 0px 0px 26px 0px;
  margin-left: 7%;
  object-fit: contain;
}
.logo:hover {
  cursor: pointer;
}
.icons {
  margin-right: 4%;
}
.facebook {
  margin-right: 20px;
}

.Rectangle-12-copy-2 {
  width: 85%;
  height: 1px;
  margin: 0px 0px 0px 7%;
  text-align: center;
  background-color: #424242;
}
.-Helperland-All-rights-reserved-Terms-and-Conditions {
  width: 100%;
  height: auto;
  margin: 20px 0px 22px 0px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  display: block;
  text-align: center;
  color: #9ba0a3;
}

.terms {
  color: #9ba0a3;
}
.terms:hover {
  cursor: pointer;
  color: #1d7a8c;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .closebtn:hover {
  background-color: transparent !important;
}
  .Welcome-Sandip {
    width: 100%;
    height: auto;
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    display: block;
    letter-spacing: normal;
    text-align: center;
    color: #4f4f4f;
  }
  .Sandip{
    font-weight: bold;
  }
  #welcome{
    width: auto;
    height: auto;
    background-color: #f9f9f9;
    padding-top: 45px;
  }
  .l1{
    width: 100%;
    height: 1px;
    margin-top:45px;
    background-color:#e1e1e1;
  }
/* .data{
    height: auto;
    margin-top:30px;
    margin-bottom: 30px;
    padding: 1px 0 0;
    border: solid 1px #e1e1e1;
    background-color: white;
} */
table {
  border: solid 1px #e1e1e1;
  margin-top: 30px;
}
#firstrow{
    margin: 0 1px;
    padding: 16px 34px 19px 14px;
    opacity: 0.8;
    background-color:#f1f1f1;
}
.sort{
    margin-left:10px;
    width:14px;
    height: 14px;
    margin-top:5px;
}
.heading{
    color: #424242;
    font-family: Roboto;
    font-size: 16px;
    width: 100%;
    margin-right: 10px;
}
.heading:hover{
  cursor: pointer;
  color: #146371;
}
img.calendar {
    width: 16px;
    height: 19px;
    margin: 2px 10px 0px 0px;
    object-fit: contain;
}
img.ghadi{
    width: 20px;
    height: 20px;
    margin: 0px 7px 0px 0px;
}
img.ghar{
    width: 22px;
    height: 22px;
    margin: 2px 10px 11px 0px;
}
.date,.time,.add,.dist,.sid{
    margin-bottom: 0px;
    color:#646464;
}
.david,.ghar{
    width: 100%;
    height: auto;
    margin: 0px 0px 0px 0px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: left;
    color:#646464;
}
.cancel{
    width: 80px;
    height: 34px;
    border-radius: 17px;
    background-color: #ff6b6b;
}
.cancel:hover{
    background-color: #1d7a8c;
    cursor: pointer;
}
.accept{
  background-color: #1d7a8c;
}
.accept:hover{
  background-color: #146371;
}
.paginate_button {
  background-color: #1d7a8c;
  padding: 7px 10px;
  color: white;
  margin-bottom: 10px;
  text-decoration: none;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 4px;
}
.paginate_button:hover {
  background-color: #29626d;
  cursor: pointer;
  color: white;
}
#example_paginate,
#example_previous,
#example_next,
#example_info,
#example_length {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  text-align: center;
}
.sidebar {
  margin-top: 30px;
  padding: 0;
  margin-right: 14px;
  /* width: 200px; */
  background-color: #1d7a8c;
  height: auto;
  overflow: auto;
  margin-bottom: 30px;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #146371;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #146371;
  color: white;
}
.sidenav a.active {
  color: #146371;
}

.sidenav a:hover:not(.active) {
  color: #146371;
}
.col-lg-8{
  width: 67%;
}
.blocktopi{
  width: 70px;
  height: 50px;

}
.blocktopicircle{
  width: 100px;
  height: 90px;
  padding: 7px 0px;
  border: solid 1px #aaa;
  border-radius: 90px;
  background-color: transparent;
}
.blockname{
  margin-top: 20px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  color: #646464;
}
.unblockbtn{
  font-family: Roboto;
  width: auto;
  height: 40px;
  margin-top: 20px;
  align-items: center;
  border-radius: 40px;
  padding: 0px 25px;
  font-size: 20px;
  background-color: #1d7a8c;
  color: white;
}
.unblockbtn:hover{
  background-color: #146371;
}
.blockbox{
  padding: 30px 20px;
  margin-top: 30px;
  border: solid 1px #928b8b;
  margin-right: 20px;
  margin-left: 20px;
}
.blockbtn{
  font-family: Roboto;
  width: auto;
  height: 40px;
  margin-top: 20px;
  align-items: center;
  border-radius: 40px;
  padding: 0px 25px;
  font-size: 20px;
  background-color: #ff6b6b;
  color: white;
}
.blockbtn:hover{
  background-color: #c84040;
}
#dashboard_paginate{
  margin-top: 10px;
  text-align: center;
}
.dataTables_length,.dataTables_info{
  display: flex;
  justify-content: center;
}
#upcoming_paginate{
  margin-top: 10px;
  text-align: center;
}