@media only screen and (min-width: 767px) and (max-width: 1220px) {
  .logo {
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .links {
    display: flex !important;
    width: auto !important;
    justify-content: space-between;
    margin-top: 20px;
  }
  .links a {
    margin-top: 10px;
    margin-left: 20px;
    justify-content: center;
  }
  .icons {
    padding-bottom: 20px;
    text-align: center;
    margin: 0px;
  }
  .Rectangle-12 .row {
    flex-direction: column;
  }
  .Rectangle-12-copy-2 {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 780px) {
  .logo {
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .links ul {
    flex-direction: column;
    padding-left: 0px;
  }
  .links li {
    margin-top: 20px;
  }
  .icons {
    padding-bottom: 20px;
    text-align: center;
  }
  .Ellipse-649 {
    display: none;
  }
}
@media only screen and (min-width: 780px) and (max-width: 1100px) {
  .Ellipse-649 {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 904px) {
  .icons {
    width: auto !important;
  }
}
@media screen and (max-width: 1310px) and (min-width: 1200px) {
  .links a {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 992px) {
  .Warranty,
  .Blog,
  .Contact {
    margin-left: 3px;
  }
  .Rounded-Rectangle-5 {
    margin-left: 0px;
  }
}
@media screen and (max-width: 576px) and (min-width: 498px) {
  .mnomodal {
    width: 183px;
  }
  .pinmodal {
    width: 45px;
  }
}
@media screen and (max-width: 498px) {
  .signupemailmodal {
    margin-right: 41%;
  }
  .mnomodal {
    width: 183px;
  }
  .pinmodal {
    width: 45px;
  }
}
@media screen and (min-width: 992px) {
  .sideham {
    display: none;
  }
  .sidenav {
    display: none;
  }
}
@media screen and (max-width: 1101px){
  .BNmain{
    display: block !important;
  }
  .psumm{
    margin-top: 100px;
  }
  .contentdiv,.servform{
    display: flex;
    justify-content: center;
  }
  .me-lg-5{
    margin-right: 0px !important;
  }
  #mainBN{
    margin-left: 20px;
    margin-right: 20px;
  }
} 
@media screen and (max-width: 676px){
  .scheque{
    display: block !important;
  }
  .when{
    justify-content: flex-start;
  }
  .nav-pills span{
    display: none;
  }
  .checkpostal,.postaltext{
    font-size: 15px;
  }
  .apply{
    margin-top: 10px;
  }
}