@media only screen and (max-width: 760px) {
  .formRect,
  .fname,
  .lname,
  .emailadd,
  .pass,
  .cpass,
  .started {
    width: 75%;
    font-size: 14px;
  }
  
  .code {
    width: 20%;
  }
  .sp11 {
    display: inherit !important;
  }
  .sp {
    margin-left: 5%;
  }
  #sp1,
  #sp2,
  #sp3,
  #sp4,
  #sp5,
  #sp6 {
    display: none;
  }
  /* .psimg {
    order: 2;
    display: grid;
  }
  .ps {
    margin-left: 0px !important;
    order: 1;
    display: grid;
  } */
  .Complete-service {
    margin-top: 100px;
    display: block;
  }
  .ps{
    position: relative;
    bottom: 230px;
  }
  img.sp8{
    position: relative;
    top: 250px;
  }
  .Register-yourself {
    margin-top: 70px;
  }
  img.sp7,
  .Get-service-requests {
    margin-top: 0px;
  }
  .Accept-service-requests-from-your-customers-and-complete-your-w,
  .You-will-get-service-requests-from-customes-depend-on-service-a,
  .Provide-your-basic-information-to-register-yourself-as-a-servic,
  .Get-service-requests {
    width: 90%;
  }
  img.sp9,
  img.sp8,
  img.sp7 {
    object-fit: contain;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px !important;
  }
  .number {
    width: 55%;
    padding-left: 10px;
  }
  .logo {
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .links ul {
    flex-direction: column;
    padding-left: 0px;
  }
  .links li {
    margin-top: 20px;
  }
  .icons {
    padding-bottom: 20px;
    text-align: center;
  }
  .Ellipse-649{
    display: none;
}
}
@media only screen and (max-width:620px){
  .housework{
    margin-right: 20px;
    font-size:40px;
    width:70%;
}
.newlist ul li{
    font-size:15px;
    width:70%;
    height:auto;
    margin-right:10px;
}
}
@media screen and (max-width: 635px) and (min-width: 420px){
  img.sp8{
    position: relative;
    top: 200px;
  }
}
@media screen and (max-width: 761px) and (min-width: 635px){
  img.sp8{
    position: relative;
    top: 180px;
  }
}
@media screen and (max-width: 1300px) and (min-width: 761px) {
  #sp1,
  #sp2,
  #sp3,
  #sp4,
  #sp5,
  #sp6 {
    display: none;
  }
  img.sp8 {
    margin-left: -10px;
  }
}
@media only screen and (max-width: 991px) {
  .bookrect,
  .bahrect {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 761px) and (max-width: 1220px) {
  .logo {
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .links {
    display: flex !important;
    width: auto !important;
    justify-content: space-between;
    margin-top: 20px;
  }
  .links a {
    margin-top: 10px;
    margin-left: 20px;
    justify-content: center;
  }
  .icons {
    padding-bottom: 20px;
    text-align: center;
    margin: 0px;
  }
  .Rectangle-12 .row {
    flex-direction: column;
  }
  .Rectangle-12-copy-2 {
    margin-left: 0px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 904px) {
  .icons {
    width: auto !important;
  }
}
@media screen and (max-width: 1310px) and (min-width: 1200px) {
  .links a {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 576px) and (min-width: 498px) {
  .mnomodal {
    width: 183px;
  }
  .pinmodal {
    width: 45px;
  }
}
@media screen and (max-width: 498px) {
  .signupemailmodal {
    margin-right: 41%;
  }
  .mnomodal {
    width: 183px;
  }
  .pinmodal {
    width: 45px;
  }
}
@media screen and (min-width: 992px) {
  .sideham {
    display: none;
  }
  .sidenav {
    display: none;
  }
}
@media screen and (max-width: 1040px) {
  .formpoints{
    display: block !important;
  }
  .formRect{
    margin-left: 0px;
  }
}
@media screen and (min-width: 1200px) {
  img.sp8{
    margin-left: -1%;
  };
}
@media screen and (min-width: 1300px) {
  img.sp8{
    margin-left: -10%;
  };
}
@media screen and (min-width: 1500px) {
  img.sp8{
    margin-left: -9%;
  };
}
@media screen and (min-width: 1800px) {
  img.sp8{
    margin-left: -7%;
  };
}
@media screen and (min-width: 2500px) {
  img.sp8{
    margin-left: -5%;
  };
}
@media screen and (min-width: 1560px) {
  
}