
  @media screen and (max-width: 1400px) and (min-width: 771px) {
    .card-deck{
     flex-direction: column !important;
     align-items: center !important;
     justify-content: center !important;
    }
    .Experienced-and-vetted-professionals,.Dedicated-customer-service,.and-seek-to-provide-exceptional-service-and-engage-in-proactive,.Payment-is-processed-securely-online-Customers-pay-safely-onli{
      height:100% !important;
      width:100% !important;
    }
    .Experienced-and-vetted-professionals,.dominate-the-industry-in-scale-and-scope-with-an-adaptable-ext,.Dedicated-customer-service,.to-our-customers-and-are-guided-in-all-we-do-by-their-needs-Th{
      text-align: center !important;
      width:100%;
    }
    .col2{
      margin-left: 50px !important;
    }
    .Every-cleaning-is-insured,.and-seek-to-provide-exceptional-service-and-engage-in-proactive,.Secure-online-payment,.Payment-is-processed-securely-online-Customers-pay-safely-onli{
      text-align: center !important;
      width: 100%;
      height: auto;
    }
    .col2{
      margin-left:0px !important;
    }
    .logo{
      text-align: center;
      width: 100%;
      padding: 0px;
      margin: 0px;
  }
  .links{
      display: flex !important;
      width:auto !important;
      justify-content: space-between;
      margin-top: 20px;      
  }
  .links a{
      margin-top: 10px;
      margin-left: 20px;
      justify-content: center;
  }
  .Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Sed-id{
      padding-right: 30px;
      margin-left: 20px;
  }
  .icons{
      padding-bottom: 20px;
      text-align: center;
      display: flex;
      margin: 0px;
  }
  .Rectangle-12 .row{
      flex-direction: column;
  }
  .Rounded-Rectangle-5{
      margin-left: 0px;
  }
    .Warranty,.Blog,.Contact{
      margin-left: 10px;
  }
}
@media screen and (max-width:770px) and (min-width:300px){
  .Rectangle-20 {
    width: 500px !important;
    height: inherit;
    margin: 0px 40x 0px 40px;
  }
  .Rectangle-20-copy {
    width: 500px;
    height: 59px;
  }
  .euro{
    margin-left:150px !important;
  }
  .hr{
    margin-right: 0px !important;
  }
  .What-we-include-in-cleaning{
    height:auto ;
    line-height:1;
  }
  .Experienced-and-vetted-professionals,.dominate-the-industry-in-scale-and-scope-with-an-adaptable-ext,.Dedicated-customer-service,.to-our-customers-and-are-guided-in-all-we-do-by-their-needs-Th{
    text-align: center !important;
    width:100% !important;
    height:100% !important;
    margin-left: 40px !important;
    display: block;
  }
 
  .Every-cleaning-is-insured,.and-seek-to-provide-exceptional-service-and-engage-in-proactive,.Secure-online-payment,.Payment-is-processed-securely-online-Customers-pay-safely-onli{
    text-align: center !important;
    width: 100%;
    margin-left: 40px;
    height: auto !important;
  }
  .Every-cleaning-is-insured{
    margin-bottom: 10px;
  }
  .Ellipse-649{
    margin-left: 10px;
  }
  img.Layer-598{
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  .logo{
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .links ul{
      flex-direction: column;
      padding-left: 0px;
  }
  .links li{
      margin-top: 20px;
  }
  .Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Sed-id{
      padding-right: 30px;
  }

  .icons{
      padding-bottom: 20px;
      text-align: center;
  }
  .Rounded-Rectangle-5{
    margin-left: 0px;
  }
  .Warranty,.Blog,.Contact{
    margin-left: 10px;
  }
  .links ul{
    padding-left: 0px;
  }
}